@include breakpoint($desktop){

    footer {
        background-color: #363636;
        color: white;
        margin-bottom: 0;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding-bottom: 5vh;

        #footer_left{
            display: flex;
            flex-direction: column;
            width: 50%;
            
            h3{
                color:white;
            }
            p{
                font-size: 14px;
            }
        }

        #footer_right{
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: right;

            a{
                color: #F4A76C;
                text-decoration: none;
            }
        }
    }
    
 
}

@include breakpoint(0,$mobile){

    footer {
        background-color: #363636;
        color: white;
        margin-bottom: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        padding-bottom: 3vh;

        #footer_left{     
            h3{
                padding-left: 10px;
                color:white;
                margin-bottom: 3px;
            }
            p{
                padding-left: 10px;
                font-size: 14px;
                margin-bottom: 7px;
            }
        }

        #footer_right{
            a{
                padding-left: 10px;
                color: #F4A76C;
                text-decoration: none;
            }
        }
    }
   
}