@include breakpoint($desktop){

    #workshops1{
        display:none;
    }
    #workshops2{
        padding-top: 15vh;
        padding-bottom: 20vh;

        .mastergrid{
            margin-top: 80px;
            display: grid;
            grid-template-columns: 0.8fr 0.2fr 1px;
            grid-template-rows:  260px 50px 260px 50px 260px;
            column-gap: 20px;
            grid-template-areas: "level-1 apply""empty1 empty1""level-2 register1""empty2 empty2""level-3 register2""empty3 empty3";
        }
        .level-1 {
            grid-area: level-1;
            background-color: #363636;
        }
        .level-2 {
            grid-area: level-2;
            background-color: #363636;
        }
        .level-3 {
            grid-area: level-3;
            background-color: #363636;
        }
        .level-1{
            display: grid;
            grid-template-columns: 15% 45% 20% 20%;
            grid-template-rows:  auto;
            grid-template-areas: "number-3 sublevel-1 icon-1 blockquote-1";
        }
        .level-2{
            display: grid;
            grid-template-columns: 15% 20% 20% 45%;
            grid-template-rows:  auto;
            grid-template-areas: "number-2 blockquote-2 icon-2 sublevel-2";
        }
        .level-3{
            display: grid;
            grid-template-columns: 15% 20% 45% 20%;
            grid-template-rows:  auto;
            grid-template-areas: "number-1 icon-3 sublevel-3 blockquote-3";
        }

        .icon-1{
            grid-area: icon-1;
            background-color: #363636;
        }
        .icon-2{
            grid-area: icon-2;
            background-color: #363636;
        }
        .icon-3{
            grid-area: icon-3;
            background-color: #363636;
            
            
        }
        .number-1{
            grid-area: number-1;
            margin-bottom: -29px;
            align-items: flex-end;
        }
        .number-2{
            grid-area: number-2;
            align-items: center;
        }
        .number-3{
            grid-area: number-3;
            margin-top: -40px;
        }
        .sublevel-1 {
            grid-area: sublevel-1;

            background-color: #363636;
        }
        .sublevel-2 {
            grid-area: sublevel-2;
            background-color: #363636;
        }
        .sublevel-3 {
            grid-area: sublevel-3;
            background-color: #363636;
        }
        .blockquote-1 {

            grid-area: blockquote-1;
            background-color: #363636;
        }
        .blockquote-2 {
            grid-area: blockquote-2;
            background-color: #363636;
        }
        .blockquote-3 {
            grid-area: blockquote-3;
            background-color: #363636;
        }
        
        [class^=sublevel-]{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .texti{
            h3 {
                font-size: 22px;
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 300;
                color: #FFAD6E;
                padding-top: 0px;
                margin-bottom: 0;
            }
            p{
                padding-right: 15px;
                line-height: 1.8rem;
                color: white;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height:40px;
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                margin-left: 15px;
                margin-top: 4vh;
                text-decoration: none;   
                text-transform: uppercase;
                color:white;
                border: 1px solid #FFAD6E;;
                padding: 0;
            }
        }
        
  
        [class^=blockquote-] {
            display: flex;
            align-items: center;
        }
        .quoti{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                padding-top: 20px;
                max-width: 68px;
            }
            blockquote {
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 300;
                color: white;
                font-size: 22px;
                padding-top: 10px;
                text-align: center;
            }
        }
        
        [class^=number-] {
            display: flex;
            justify-content: right;
            margin-right: -15px;
            background-color: white;
        }
        .numbi{
            color: #363636;
        font-size: 200px;
        font-weight: 600;
        }
        [class^=icon-] {
            
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        .iconi{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            width: 145px;
            height: 145px;
            border-radius: 50%;
            border-style: solid;
            background: #595959;
            img {
                max-width:100px;
                opacity: 75%;
            }
        }  
        .apply {
            grid-area: apply;
            margin: auto;
            font-weight: 200;
            font-size: 28px;
            color: #1A1A1A;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 260px;
            
        }   
        .register1 {
            grid-area: register1;
            margin: auto;
            font-weight: 200;
            font-size: 28px;
            color: #1A1A1A;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 570px;
        }    
        .register2 {
         display:none;
        }           
    }  
}

@include breakpoint(0,$mobile){

    #workshops1{
        padding-top: 7vh;
        padding-bottom: 7vh;

        .mastergrid{
            margin-top: 110px;
            display: grid;
            grid-template-columns: 1fr 0.1fr;
            grid-template-rows:  480px 110px 480px 110px 480px;
            grid-template-areas: "level-1 apply""empty1 empty1""level-2 register1""empty2 empty2""level-3 register2""empty3 empty3";
        }
        .level-1 {
            grid-area: level-1;
            background-color: #363636;
        }
        .level-2 {
            grid-area: level-2;
            background-color: #363636;
        }
        .level-3 {
            grid-area: level-3;
            background-color: #363636;
        }
        .iconsection {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 50px;
        }
        [class^=number-] {
            position: relative;
            left: 140px;
            color: #D5874C;
            font-size: 22px;
            font-weight: 600;
            border-style: solid;
            background-color: #D5D5D5;
            border-radius: 50%;
            width: 37px;
            height: 37px;
            text-align: center;
            z-index: 0;
            line-height: 37px;
        }
        [class^=icon-] {
            width: 115px;
            height: 115px;
            border-radius: 50%;
            border-style: solid;
            background: #595959;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        img {
            max-width: 67px;
            opacity: 75%;
        }
        .level {
            background-color: #363636;
        }
        [class^=sublevel-]{
                h3 {
                    font-size: 22px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    color: #FFAD6E;
                    padding-top: 0px;
                    margin-bottom: 0;
                }
                p{
                    padding-right: 15px;
                    line-height: 1.8rem;
                    color: white;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 160px;
                    height:40px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    margin-left: 15px;
                    margin-top: 4vh;
                    text-decoration: none;   
                    text-transform: uppercase;
                    color:white;
                    border: 1px solid #FFAD6E;;
                    padding: 0;
                }
            }
      
            [class^=blockquote-] {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    padding-top: 20px;
                    max-width: 68px;
                }
                blockquote {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    color: white;
                    font-size: 22px;
                    padding-top: 10px;
                    text-align: center;
                }
            }
        .apply {
            grid-area: apply;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin: auto;
            font-weight: 200;
            font-size: 18px;
            color: #1A1A1A;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            height: 480px;
            padding-right:10px;
        }   
        .register1 {
            grid-area: register1;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin: auto;
            font-weight: 200;
            font-size: 18px;
            color: #1A1A1A;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            height: 480px;
            padding-right:10px;
        }            
        .register2 {
            grid-area: register2;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin: auto;
            font-weight: 200;
            font-size: 18px;
            color: #1A1A1A;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            height: 480px;
            padding-right:10px;
        }
    }   
    #workshops2{
        display:none;
    }
}